@font-face {
    font-family: 'la';
    src: url('fonts/Pretendard-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hz';
    src: url('fonts/NotoSansSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rm';
    src: url('fonts/RusimezSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body { margin: 0; padding: 0; }
#map { width: 100vw; height: 100vh; }

.map-label {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #ffffff;
    white-space: nowrap;
    font-family: 'rm', 'la', 'hz', sans-serif; 
    text-align: center;
    text-shadow: 
        0.26vh 0 0 #222222,
        0.24vh 0.1vh 0 #222222,
        0.208vh 0.156vh 0 #222222,
        0.156vh 0.208vh 0 #222222,
        0.1vh 0.24vh 0 #222222,
        0 0.26vh 0 #222222,
        -0.125vh 0.24vh 0 #222222,
        -0.156vh 0.208vh 0 #222222,
        -0.208vh 0.156vh 0 #222222,
        -0.24vh 0.1vh 0 #222222,
        -0.26vh 0 0 #222222,
        -0.24vh -0.1vh 0 #222222,
        -0.208vh -0.156vh 0 #222222,
        -0.156vh -0.208vh 0 #222222,
        -0.1vh -0.24vh 0 #222222,
        0 -0.26vh 0 #222222,
        0.1vh -0.24vh 0 #222222,
        0.156vh -0.208vh 0 #222222,
        0.208vh -0.156vh 0 #222222,
        0.24vh -0.1vh 0 #222222;
    white-space: nowrap;
}

.map-label-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: left;
}

.map-label-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
}

.map-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 0.26vh;
}

.map-icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

#custom-controls {
    position: absolute;
    top: 1.6vh;
    right: 1.6vh;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.8vh;
}

.control-btn {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.26vh) saturate(100%);
    -webkit-backdrop-filter: blur(0.26vh) saturate(100%);
    border: 0.26vh solid rgba(255, 255, 255, 0.9);
    width: 4.8vh;
    height: 4.8vh;
    border-radius: 50%;
    touch-action: manipulation;
}

.btn-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.control-btn:hover { background: rgba(255, 255, 255, 0.5); }
.control-btn.active { background: rgba(255, 255, 255, 0.5); }